<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">Todos</a>
      <button
        (click)="toggle()"
        [attr.aria-expanded]="isExpanded"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target=".navbar-collapse"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        [ngClass]="{ show: isExpanded }"
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
      >
        <ul class="navbar-nav flex-grow">
          <!--<li [routerLinkActive]="['link-active']" class="nav-item">-->
          <!--  <a [routerLink]="['/todo-list']" class="nav-link text-dark">-->
          <!--    List-->
          <!--  </a>-->
          <!--</li>-->
          <li class="nav-item">
            <button (click)="generateItem()">New Item</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
