<h1 id="tableLabel">Todo List</h1>

<p *ngIf="!taskList$"><em>Loading...</em></p>

<div>
  <mat-list (cdkDropListDropped)="onDropInside($event)"
            *ngIf="taskList$ | async as items"
            [cdkDropListData]="items"
            cdkDropList>

    <mat-list-item *ngFor="let item of items"
                   cdkDrag
                   class="drop-item-wrapper">
      <app-todo-item
        [taskItem]="item"
        (doToggleComplete)="onCompleteToggle($event)"
        (doDeleteItem)="onDeleteItem($event)"
      ></app-todo-item>
    </mat-list-item>

  </mat-list>
</div>

