<div *ngIf="(taskList$ | async) as items">
  <mat-list (cdkDropListDropped)="onDropInside($event)"
            *ngIf="items.length !== 0; else noItems"
            [cdkDropListData]="items"
            cdkDropList
  >
    <mat-list-item *ngFor="let item of items"
                   cdkDrag
                   class="drop-item-wrapper"
    >
      <mat-card fxFlex>

        <app-card-item
          (doDeleteItem)="onDeleteItem($event)"
          (doToggleComplete)="onCompleteToggle($event)"
          [taskItem]="item"
        ></app-card-item>

      </mat-card>
    </mat-list-item>

  </mat-list>

  <ng-template #noItems>
    <div class="no-items-container" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
      <span>&ensp;&thinsp;No more tasks for the day... </span><span>☕</span><div fxFlexOffset="50%"></div>
    </div>
  </ng-template>
</div>

