<div class="list-container">
  <mat-list cdkDropList
            *ngIf="items.length > 0; else noItems"
            (cdkDropListDropped)="onDropInside($event)"
            [cdkDropListData]="items">

    <!--Task draggable wrapper-->
    <mat-list-item cdkDrag
                   *ngFor="let item of items"
                   class="drop-item-wrapper">

      <mat-card fxFlex>
        <!--Task content component-->
        <app-todo-item [taskItem]="item" fxFlexFill></app-todo-item>
      </mat-card>

    </mat-list-item>

  </mat-list>
  <ng-template #noItems><p>You've complete all tasks</p></ng-template>
</div>
