<div class="item-container" fxLayout="row wrap" fxLayoutAlign="start center">

  <mat-checkbox
    [formControl]="checkBoxField"
    [name]="_task.title"
    class="mat-checkbox"
    color="primary"
    fxFlex
  >
    <span [class.done]="_task.isComplete">
      {{_task.title}}
      <small>[id:{{_task.core.id}},order:{{_task.core.order}}]</small>
    </span>

  </mat-checkbox>

  <div fxLayout="row" fxLayoutGap="1em">
    <button
      (click)="onClickEdit()"
      [disabled]="_task.isComplete"
      aria-label="Edit task"
      class="mat-elevation-z1"
      color="accent"
      mat-mini-fab
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      (click)="onClickDelete()"
      aria-label="Delete task"
      class="mat-elevation-z1"
      color="warn"
      mat-mini-fab
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
