<div>
  <input
    class="toggle"
    type="checkbox"
  />

  <mat-checkbox
    [formControl]="checkBoxField"
    [name]="_task.title"
    class="mat-checkbox"
    color="primary"
    fxFlex
  >
  </mat-checkbox>

  <mat-card fxFlex>

    <small>(id.{{ _task.id }}) </small>
    <span fxFlex>{{ _task.title }}</span>
    <!--<span>[{{ _task.priority }}]</span>-->
    <button
      mat-mini-fab
      (click)="onClickDelete()"
    >
      <mat-icon>close</mat-icon>
    </button>

  </mat-card>

</div>
