<form (ngSubmit)="onSave()" [formGroup]="form">

  <mat-toolbar color="primary">
    <div *ngIf="idItem; else newItem">
      {{titleItem}}<span class="faded">&nbsp;(id:{{idItem}})</span>
    </div>
    <ng-template #newItem><span>New Todo</span></ng-template>

  </mat-toolbar>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <label>
      <input formControlName="title"
             matInput
             placeholder="Name your todo">
    </label>

    <mat-hint *ngIf="form.get('title').invalid && form.get('title').touched">
      <span *ngIf="form.get('title').errors?.required">Field cannot be empty</span>
      <span *ngIf="form.get('title').errors?.pattern">Title may contain only Latin characters and whitespaces</span>
    </mat-hint>

  </mat-form-field>

  <button (click)="onClose()" mat-raised-button type="button">Close</button>
  <button mat-raised-button type="submit">Save</button>
</form>
